/* DEMO CSS */
/**/
.bold {
  font-weight: bold;
}
.demo-sidebar {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: #FFF;
  border-right: 1px solid #DDD;
  padding: 25px;
  overflow: auto;
}
.demo-content {
  margin-left: 250px;
  min-height: 1px;
}
.demo-index {
  list-style: inside none none;
  padding-left: 15px;
}
.demo-index .demo-ind-title {
  font-size: 21px;
  font-size: 1.6em;
  margin-top: 25px;
  color: #15C;
  margin-bottom: 5px;
}
.demo-index .demo-ind-title:first-child {
  margin-top: 0;
}
.demo-index a {
  color: #888;
  padding-left: 15px;
}
.demo-pre-container {
  border-bottom: solid 1px #DDD;
  margin-top: 20px;
  margin-bottom: 20px;
}
.demo-pre-container .demo-pre-min-title {
  padding: 5px;
  font-weight: bold;
  opacity: .5;
}
.demo-pre-container .demo-pre-trigger {
  border-top: solid 1px #DDD;
  font-size: 16px;
  line-height: 3;
  padding: 0 15px;
  cursor: pointer;
  font-weight: bold;
  color: #AAA;
}
.demo-pre-container .demo-pre-trigger i {
  margin-right: 3px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.demo-pre-container .demo-pre-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.6s;
  -ms-transition: max-height 0.6s;
  transition: max-height 0.6s;
}
.demo-pre-container.open .demo-pre-trigger i {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.demo-pre-container.open .demo-pre-content {
  max-height: 2000px;
}
.demo-section {
  border-top: solid 11px #EEE;
  background-color: #FFF;
  padding-bottom: 15px;
}
.demo-section .demo-section-title {
  font: bold 32px/2em sans-serif;
  color: #999;
  padding: 25px 0 15px;
}
.demo-section .demo-subtitle {
  font-size: 24px;
  font-style: italic;
  opacity: .8;
  margin-bottom: 25px;
  padding-top: 25px;
}
.demo-section .demo-subtitle.first {
  padding-top: 0;
}
.demo-table {
  margin-bottom: 20px;
}
.demo-table .demo-row {
  position: relative;
  border-top: 15px solid #FAFAFA;
  border-bottom: 15px solid #FAFAFA;
}
.demo-table .demo-row .demo-col-1 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 20%;
  padding-right: 15px;
  font: bold 14px/1.4em sans-serif;
  color: #999;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.demo-table .demo-row .demo-col-2 {
  margin-left: 20%;
}
.demo-table .demo-row.demo-padd {
  padding: 15px 0;
}
.responsive-utilities td.is-visible {
  color: #468847;
  background-color: #dff0d8!important;
}
.bs-glyphicons-list {
  list-style: inside none none;
  padding: 0;
}
.bs-glyphicons-list li {
  width: 370px;
  border: 1px solid #EEE;
  padding: 20px 0 15px 15px;
  display: inline-block;
  margin: 0 5px 8px 0;
}
.bs-glyphicons-list li .glyphicon {
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
.bs-glyphicons-list li .glyphicon-class {
  display: inline-block;
  font-family: monospace;
  margin-top: 8px;
  color: #d2539e;
  font-size: 13px;
}
.showwer-tooltip {
  padding: 25px 0;
}
.showwer-tooltip .tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
  margin-right: 20px;
}
.showwer-popover {
  padding: 25px 0;
  max-width: 700px;
}
.showwer-popover .popover {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 40px;
}
.scrollspy-example {
  height: 200px;
  overflow: auto;
}
.demo-pre-container {
  display: none;
}
